html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

/* remove standard decoration of link */
a, :link,:visited,:hover, :active {
  text-decoration: none;
  color: black;
}
